<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.email_field :email, :placeholder => "E-mail" %>
  <%= f.password_field :password, :placeholder => "Password" %>
  <p><%= f.submit "Go ▶▶▶" %></p>
  <p><%= link_to "Create account", new_user_path %></p>
<% end %>
