<h4 class="sub-title">My Clips</h4>

<%= link_to "back", user_path(current_user)  %>

<%= form_with url: posts_path, method: :get, local: true do |form| %>
  <%= form.select :prefecture, Post.prefectures.keys %>
  <%= form.text_field :spotname, :placeholder => "スポット名で検索…" %>
  <%= form.select("tag_id", Tag.pluck(:title, :id), { include_blank: true }) %>
  <%= form.submit 'Search', title: nil %> <%= link_to 'clear', favorites_path %>
<% end %>

<% @favorites.each do |favorite| %>
<div class="container">
  <div class="row">

  <p>
    <span><%= link_to image_tag(favorite.post.image.url), post_path(favorite.post.id) %></span>
  </p>
  <p>
    <% unless favorite.post.user_id == current_user.id %>
      <% if @favorite.present? %>
        <%= link_to image_tag('clip_off.png', size: '30x30'), favorite_path(id: @favorite.id), method: :delete %>
      <% else %>
      <% end %>
    <% end %>

    <%= favorite.post.spotname %>
  </p>
  <p><%= favorite.post.prefecture %><%= favorite.post.address %></p>

  </div>
</div>
<% end %>
<p id="blank"></p>
