<h4>My Clips</h4>

<%= link_to "back", user_path(current_user)  %>

<%= form_with url: posts_path, method: :get, local: true do |form| %>
  <%= form.select :prefecture, Post.prefectures.keys %>
  <%= form.text_field :spotname, :placeholder => "スポット名で検索…" %>
  <%= form.select("tag_id", Tag.pluck(:title, :id), { include_blank: true }) %>
  <%= form.submit 'Search', title: nil %> <%= link_to 'clear', favorites_path %>
<% end %>

<% @favorites.each do |favorite| %>
  <p>
    <span><%= link_to image_tag(favorite.post.image.url), post_path(favorite.post.id) %></span>
  </p>
  <p>
    <% unless favorite.post.user_id == current_user.id %>
      <% if @favorite.present? %>
        <span><%= link_to image_tag('clip_on', size: '25x25'), favorite_path(id: favorite.post.id), method: :delete %></span>
      <% else %>
        <span><%= link_to image_tag('clip_off', size: '25x25'), favorites_path(post_id: favorite.post.id), method: :post %></span>
      <% end %>
    <% end %>

    <%= favorite.post.spotname %>
  </p>
  <p><%= favorite.post.prefecture %><%= favorite.post.address %></p>
<% end %>
