<% if @user.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@user.errors.count, "つ") %>入力に誤りがあります。 </h3>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="sub-title">
  <p class="second_title2">Edit Users</p>
</div>

<%= form_with(model: @user, local: true) do |f| %>

<div class="container-fluid"><font size="2">
  <div class="top">
    <div class="row">
      <table>
        <tr>
          <td class="box_image">
            <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
            <%= f.file_field :image %>
            <%= f.hidden_field :image_cache %>
          </td>

          <td class="box_text">
            <p>
              <span><%= f.label :name, 'User Name :', class: "text" %></span>
              <span><%= f.text_field :name, class: "text_field" %></span>
            </p>
            <p>
              <span><%= f.label :email, 'Email :', class: "text" %></span>
              <span><%= f.text_field :email, class: "text_field" %></span>
            </p>
            <p>
              <span><%= f.label :password, 'Password :', class: "text" %></span>
              <span><%= f.text_field :password, class: "text_field" %></span>
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <span class="col-xs-4"></span>
  <span class="col-xs-1"><%= f.submit "Record", class: "btn" %></span>
  <span class="col-xs-2"></span>
  <span class="col-xs-1"><%= link_to 'Back', user_path(current_user), class: "menu" %></span>
  <span class="col-xs-4"></span>
</div>
<% end %>
