<h4>Edit User</h4>

<%= form_with(model: @user, local: true) do |f| %>
  <p>
    <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </p>

  <p>
    <span><%= f.label :name, 'User Name :' %></span>
    <span><%= f.text_field :name %></span>
  </P>
  <p>
    <span><%= f.label :email, 'Email :' %></span>
    <span><%= f.text_field :email %></span>
  </P>
  <p>
    <span><%= f.label :password_digest, 'Password :' %></span>
    <span><%= f.text_field :password_digest %></span>
  </p>
<br>
  <p><%= f.submit "Edit" %></p>
<% end %>
