<h2>
  <%= @user.name %>
  <% if @user.id == current_user.id %>
    <a><%= link_to image_tag('edit', size: '15x15'), edit_user_path %></a>
  <% else %>
  <% end %>
</h2>
<%= link_to "back", posts_path  %>

<p><%= image_tag(@user.image.url, size: '100x100') %></p>
<P>
  <span><%= link_to @user.followers.count, followers_user_path(@user.id) %></span>
  <span><%= link_to @user.following.count, following_user_path(@user.id) %></span>
</p>
<P>
  <span>follower</span>
  <span>follow</span>
  <% if @user.id == current_user.id %>
    <%= link_to image_tag('clip_on', size: '25x25'), favorites_path %>
  <% else %>
  <% end %>
</p>
<a><%= link_to "Logout", session_path(current_user.id), method: :delete %></a>
<p><%= link_to @posts.prefectures.count %>/48</p>
<p><%= @user.posts.count %> posts</p>

<% @posts.each do |post| %>
  <p>
    <span><%= link_to image_tag(post.image.url), post_path(post.id) %></span>
  </p>
  <p><%= post.spotname %></p>
  <p><%= post.prefecture %><%= post.address %></p>
<% end %>
