<div class="sub-title">
  <p class="second_title"><%= @user.name %>'s Page</p>
</div>
<br><br><br><br><br><br>
    <div class="icon_edit">
      <% if @user.id == current_user.id %>
    　  <a><%= link_to image_tag('edit.png', size: '25x25'), edit_user_path %><a>
    </div>

    <div class="map">
      <a><%= link_to image_tag('map.png') %></a>

      <div class="pin1"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("北海道") %></div>
      <div class="pin2"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("青森県") %></div>
      <div class="pin3"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("岩手県") %></div>
      <div class="pin4"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("宮城県") %></div>
      <div class="pin5"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("秋田県") %></div>
      <div class="pin6"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("山形県") %></div>
      <div class="pin7"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("福島県") %></div>
      <div class="pin8"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("茨城県") %></div>
      <div class="pin9"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("栃木県") %></div>
      <div class="pin10"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("群馬県") %></div>
      <div class="pin11"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("埼玉県") %></div>
      <div class="pin12"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("千葉県") %></div>
      <div class="pin13"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("東京都") %></div>
      <div class="pin14"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("神奈川県") %></div>
      <div class="pin15"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("新潟県") %></div>
      <div class="pin16"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("富山県") %></div>
      <div class="pin17"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("石川県") %></div>
      <div class="pin18"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("福井県") %></div>
      <div class="pin19"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("山梨県") %></div>
      <div class="pin20"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("長野県") %></div>
      <div class="pin21"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("岐阜県") %></div>
      <div class="pin22"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("静岡県") %></div>
      <div class="pin23"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("愛知県") %></div>
      <div class="pin24"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("三重県") %></div>
      <div class="pin25"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("滋賀県") %></div>
      <div class="pin26"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("京都府") %></div>
      <div class="pin27"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("大阪府") %></div>
      <div class="pin28"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("兵庫県") %></div>
      <div class="pin29"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("奈良県") %></div>
      <div class="pin30"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("和歌山県") %></div>
      <div class="pin31"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("鳥取県") %></div>
      <div class="pin32"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("島根県") %></div>
      <div class="pin33"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("岡山県") %></div>
      <div class="pin34"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("広島県") %></div>
      <div class="pin35"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("山口県") %></div>
      <div class="pin36"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("徳島県") %></div>
      <div class="pin37"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("香川県") %></div>
      <div class="pin38"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("愛媛県") %></div>
      <div class="pin39"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("高知県") %></div>
      <div class="pin40"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("福岡県") %></div>
      <div class="pin41"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("佐賀県") %></div>
      <div class="pin42"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("長崎県") %></div>
      <div class="pin43"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("熊本県") %></div>
      <div class="pin44"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("大分県") %></div>
      <div class="pin45"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("宮崎県") %></div>
      <div class="pin46"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("鹿児島県") %></div>
      <div class="pin47"><%= image_tag('pin.png') if @posts.group(:prefecture).count.include?("沖縄県") %></div>
    </div>
    <% end %>

<p>
  <a class="icon_top"><%= image_tag(@user.image.url, size: '200x200') %></a>
</p>

<table class="follow_box">
  <tr>
    <td class="follow_link"><%= link_to @user.followers.count, followers_user_path(@user.id) %></td>
    <td class="follow_link"><%= link_to @user.following.count, following_user_path(@user.id) %></td>
  </tr>
  <tr>
    <td class="follow">follower</td>
    <td class="follow">follow</td>
  </tr>
  <tr>
    <td class="count_link"><%= @user.posts.count %></td>
    <td class="post_count">posts</td>
  </tr>
</table>

<table  class="count_box">
  <tr>
    <td class="follow_link"><%= @posts.group(:prefecture).count.length %></td>
    <td class="post_count"> / 47</td>
  </tr>
</table>

<div class="container-fluid">
  <div class="top">
    <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div>
          <p><%= link_to image_tag(post.image.url, size: '200x200'), post_path(post.id) %></p>
          <p><%= post.spotname %></p>
          <p><%= post.prefecture %><p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<p id="blank"></p>
