<h4 class="sub-title">Edit Tag</h4>

<%= form_with(model: @tag, local: true) do |form| %>

<div class="container-fluid"><font size="2">
  <div class="top">
  <br><br>
    <div class="row">
      <table>
        <p>
          <span><%= form.label :title, 'title :' %></span>
          <span><%= form.text_field :title, class: "text_field" %></span>
        </p>
      </table>
    </div>

    <div class="row">
      <span class="col-xs-4"></span>
      <span class="col-xs-1"><%= form.submit "Record", class: "btn" %></span>
      <span class="col-xs-2"></span>
      <span class="col-xs-1"><%= link_to "Back", tags_path, class: "menu" %></span>
      <span class="col-xs-4"></span>
    </div>
  </div>
</div>
<% end %>
