<div class="sub-title">
  <p class="second_title2">タグ一覧</p>
</div>

<div class="container-fluid">
  <% if current_user.admin? %>
    <table>
      <tr>
        <th class="box_3">タグ名</th>
        <th class="box_1"> </th>
        <th class="box_1"> </th>
      </tr>

      <% @tags.each do |tag| %>

      <tr>
        <td class="box_3">
          <span><%= tag.title %></span>
        </td>
        <td class="box_1">
            <a><%= link_to image_tag('edit.png', size: '25x25'), edit_tag_path(tag) %></a>
        </td>
        <td class="box_1">
            <a><%= link_to image_tag('delete.png', size: '25x25'), tag, method: :delete, data: { confirm: '本当に削除しますか?' } %></a>
        </td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <table>
      <tr>
        <th class="box_3">タグ名</th>
      </tr>

      <% @tags.each do |tag| %>

      <tr>
        <td class="box_3">
          <span><%= tag.title %></span>
        </td>
      </tr>
      <% end %>
    </table>
  <% end %>
  <div class="row">
    <span class="col-xs-4"></span>
    <span class="col-xs-1"><%= link_to "新規作成", new_tag_path, class: "menu" %></span>
    <span class="col-xs-2"></span>
    <span class="col-xs-1"><%= link_to 'トップ', posts_path, class: "menu" %></span>
    <span class="col-xs-4"></span>
  </div>
</div>
