<h4>New Tag</h4>
<p><%= notice %></p>

<%= form_with(model: @tag, local: true) do |form| %>

  <p>
    <span><%= form.label :title, 'title :' %></span>
    <span><%= form.text_field :title %></span>
  </p>

  <p>
    <span><%= form.submit "Create", name: 'back' %></span>
    <span><%= link_to "Back", posts_path %></span>
  </p>
<% end %>
