
<div class="container-fluid"><font size="2">
  <div class="top">
    <br><br><br><br><br>

    <%= form_with(model:@post, url: posts_path, local:true) do |form| %>
    <div class="row">
      <table>
        <tr>
          <td class="box_image">
            <p>
              <span><%= form.hidden_field :image_cache %></span>
              <span><%= image_tag(@post.image.url) if @post.image && @post.image.url %></span>
            </p>
          </td>

          <td class="box_text">
            <p>
              <span><%= form.label :spotname, 'Spot :', class: "text" %></span>
              <span><%= form.hidden_field :spotname %></span>
              <span><%= @post.spotname %></span>
            </p>
            <p>
              <span><%= form.label :prefecture, 'Area :', class: "text" %></span>
              <span><%= form.hidden_field :prefecture %></span>
              <span><%= @post.prefecture %></span>
            </P>
            <p>
              <span><%= form.label :address, 'Address :', class: "text" %></span>
              <span><%= form.hidden_field :address %></span>
              <span><%= @post.address %></span>
            </p>
            <!-- <p>
              <span><%#= form.label :latitude, 'latitude :', class: "text" %></span>
              <span><%#= form.hidden_field :latitude %></span>
              <span><#%= @post.latitude %></span>
            </P>
            <p>
              <span><%#= form.label :longitude, 'longitude :', class: "text" %></span>
              <span><%#= form.hidden_field :longitude %></span>
              <span><%#= @post.longitude %></span>
            </P> -->
            <p>
              <span><%= form.label :url, 'Map URL :', class: "text" %></span>
              <span><%= form.hidden_field :url %></span>
              <span><%= @post.url %></span>
            </p>
            <p>
              <span><%= form.label :date, 'Date :', class: "text" %></span>
              <span><%= form.hidden_field :date %></span>
              <span><%= @post.date %></span>
            </p>
            <p>
              <span><%= form.label :tag, 'Tag :', class: "text" %></span>
              <span><%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :title, class: "tag_field") %></span>
            </p>
            <p>
              <span><%= form.label :content, 'Content :', class: "text" %></span>
              <span><%= form.hidden_field :content %></span>
              <span><%= @post.content %></span>
            <p>
          </td>
        </tr>
       </table>
    </div>
  </div>
</div>
<br><br>

<div class="row">
  <span class="col-xs-4"></span>
  <span class="col-xs-1"><%= form.submit "create", class: "btn"  %></span>
  <span class="col-xs-2"></span>
  <span class="col-xs-1"><%= form.submit "back", name: 'back', class: "btn" %></span>
  <span class="col-xs-4"></span>
</div>
<% end %>
