<div class="sub-title">
  <p class="second_title">投稿確認</p>
</div>

<div class="container-fluid"><font size="2">
  <div class="top">
  <br><br><br><br><br>

    <%= form_with(model:@post, url: posts_path, local:true) do |form| %>
    <div class="row">
      <table>
        <tr>
          <td class="box_image">
            <p>
              <span><%= form.hidden_field :image_cache %></span>
              <span><%= image_tag(@post.image.url) if @post.image && @post.image.url %></span>
            </p>
          </td>

          <td class="box_text">
            <p>
              <span><%= form.label :spotname, 'スポット名 :', class: "text" %></span>
              <span><%= form.hidden_field :spotname %></span>
            </p>
            <p>
              <span><%= form.label :prefecture, '都道府県 :', class: "text" %></span>
              <span><%= form.hidden_field :prefecture %></span>
            </P>
            <p>
              <span><%= form.label :address, '市区町村 :', class: "text" %></span>
              <span><%= form.hidden_field :address %></span>
            </p>
            <p>
              <span><%= form.label :url, '地図のURL :', class: "text" %></span>
              <span><%= form.hidden_field :url %></span>
            </p>
            <p>
              <span><%= form.label :date, '日付 :', class: "text" %></span>
              <span><%= form.hidden_field :date %></span>
            </p>
            <p>
              <span><%= form.label :tag, 'タグ :', class: "text" %></span>
            </p>
            <p>
              <span><%= form.label :content, 'メモ :', class: "text_content" %></span>
              <span><%= form.hidden_field :content %></span>
            <p>
          </td>

          <td>
            <p class="text2"><%= @post.spotname %></p>
            <p class="text2"><%= @post.prefecture %></p>
            <p class="text2"><%= @post.address %></p>
            <p class="text_URL"><a><%= @post.url %></a></p>
            <p class="text2"><%= @post.date %></p>
            <P class="tag_field">
              <% @post.tags_posts.each do |tags_post| %>
                <span class="badge badge-dark"><%= tags_post.tag.title %></span>
              <% end %>
            </p>
            <p class="content_field2"><%= @post.content %></p>
          </td>

        </tr>
       </table>
    </div>
  </div>
</div>
<br><br>

<div class="row">
  <span class="col-xs-4"></span>
  <span class="col-xs-1"><%= form.submit "登録", class: "btn"  %></span>
  <span class="col-xs-2"></span>
  <span class="col-xs-1"><%= form.submit "戻る", name: 'back', class: "btn" %></span>
  <span class="col-xs-4"></span>
</div>
<% end %>
