<h4 class="sub-title"><%= link_to current_user.name, user_path(current_user) %></h4>
<br><br><br><br><br><br>

<div class="search">
  <%= form_with url: posts_path, method: :get, local: true do |form| %>
    <%= form.select :prefecture, Post.prefectures.keys %>
    <%= form.text_field :spotname, :placeholder => "スポット名で検索…", class: "text_field" %>
    <%= form.select("tag_id", Tag.pluck(:title, :id), { include_blank: true }) %>
    <%= form.submit 'Search', class: "btn" %><%= link_to image_tag('clear', size: '48x48'), posts_path  %>
  <% end %>
</div>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-3">
      <div>
        <p><%= link_to image_tag(post.image.url, size: '200x200'), post_path(post.id) %></p>
        <p>
          <%# unless post.user_id == current_user.id %>
          <%# @favorite = current_user.favorites.find_by(post_id: post.id) %>
            <%# if @favorite.present? %>
              <%#= link_to image_tag('clip_on', size: '15x15'), favorite_path(id: @favorite.id), method: :delete %>
            <%# else %>
              <%#= link_to image_tag('clip_off', size: '15x15'), favorites_path(post_id: post.id), method: :post %>
            <%# end %>
          <%# end %>
          <%= post.spotname %>
        </p>
        <p><%= post.prefecture %><p>
      </div>
    </div>
  <% end %>
</div>
