<div class="post_card">
  <p>
    <% if @post.user_id == current_user.id %>
      <span><%= link_to image_tag('edit', size: '25x25'), edit_post_path(@post.id) %></span>
      <span><%= link_to image_tag('delete', size: '25x25'), post_path(@post.id), method: :delete ,data: { confirm: '本当に削除しますか？' } %></span>
    <% else %>
    <% end %>

    <% unless @post.user_id == current_user.id %>
      <% if @favorite.present? %>
        <span><%= link_to image_tag('clip_on', size: '25x25'), favorite_path(id: @post.id), method: :delete %></span>
      <% else %>
        <span><%= link_to image_tag('clip_off', size: '25x25'), favorites_path(post_id: @post.id), method: :post %></span>
      <% end %>
    <% end %>

  <p><%= image_tag(@post.image.url) %></P>
  <p><%= link_to @post.user.name, user_path(@post.user_id) %></P>

  <p>
    <span>Spot :</span>
    <span><%= @post.spotname %></span>
  </P>
  <p>
    <span>Area :</span>
    <span><%= @post.prefecture %></span>
  </P>
  <p>
    <span>Address :</span>
    <span><%= @post.address %></span>
  </P>
  <p>
    <span>Map URL :</span>
    <span><%= @post.url %></span>
  </P>
  <p>
    <span>Date :</span>
    <span><%= @post.date %></span>
  </P>
  <div>
    <% @post.tags.each do |tag| %>
      <p><%= tag.title %></p>
    <% end %>
  </div>
  <p></p>
  <p>
    <span>Content :</span>
    <span><%= @post.content %></span>
  </P>
</div>

<p><%= link_to "Back", posts_path %></p>
