<div class="post_card">
  <p>
    <span><%= link_to "âœ", edit_post_path(@post.id) %></span>
    <span>ðŸš®</span>
    <span>ðŸ“Ž</span>
  <p>image</P>
  <p>
    <span>Spot :</span>
    <span><%= @post.spot_name %></span>
  </P>
  <p>
    <span>Area :</span>
    <span><%= @post.prefecture %></span>
  </P>
  <p>
    <span>Address :</span>
    <span><%= @post.address %></span>
  </P>
  <p>
    <span>Map URL :</span>
    <span><%= @post.url %></span>
  </P>
  <p>
    <span>Date :</span>
    <span><%= @post.date %></span>
  </P>
  <p>
    <span>Content :</span>
    <span><%= @post.content %></span>
  </P>
</div>
