<div class="post_card">
  <p>
    <span><%= link_to image_tag('edit', size: '15x15'), edit_post_path(@post.id) %></span>
    <span><%= link_to image_tag('delete', size: '15x15'), post_path(@post.id), method: :delete ,data: { confirm: 'Do you really delete it？' } %></span>
    <% unless @post.user_id == current_user.id %>
      <% if @favorite.present? %>
        <span><%= link_to image_tag('clip_on', size: '15x20'), favorite_path(id: @favorite.id), method: :delete %></span>
      <% else %>
        <span><%= link_to image_tag('clip_off', size: '15x20'), favorites_path(post_id: @post.id), method: :post %></span>
      <% end %>
    <% end %>
  <p>image</P>
  <p><%= @post.user.name %></P>
  <p>
    <span>Spot :</span>
    <span><%= @post.spot_name %></span>
  </P>
  <p>
    <span>Area :</span>
    <span><%= @post.prefecture %></span>
  </P>
  <p>
    <span>Address :</span>
    <span><%= @post.address %></span>
  </P>
  <p>
    <span>Map URL :</span>
    <span><%= @post.url %></span>
  </P>
  <p>
    <span>Date :</span>
    <span><%= @post.date %></span>
  </P>
  <p>
    <span>Content :</span>
    <span><%= @post.content %></span>
  </P>
</div>
