<h4 class="sub-title"><%= link_to @post.user.name, user_path(@post.user_id) %>のpost</h4>
<br><br><br><br><br>
<%= form_with(model:@post, url: posts_path, local:true) do |form| %>
<div class="row">
  <table>
    <tr>
      <td  class="box_image">
        <p>
          <% if @post.user_id == current_user.id %>
            <span><%= link_to image_tag('edit.png', size: '35x35'), edit_post_path(@post.id), class: "edit" %></span>
            <span><%= link_to image_tag('delete.png', size: '35x35'), post_path(@post.id), method: :delete ,data: { confirm: '本当に削除しますか？' }, class: "delete" %></span>
          <% else %>
          <% end %>

          <% unless @post.user_id == current_user.id %>
            <% if @favorite.present? %>
              <span><%= link_to image_tag('clip_on.png', size: '35x35'), favorite_path(id: @post.id), method: :delete, class: "remove" %></span>
            <% else %>
              <span><%= link_to image_tag('clip.png', size: '35x35'), favorites_path(post_id: @post.id), method: :post, class: "clip" %></span>
            <% end %>
          <% end %>
        </p>

        <p><%= image_tag(@post.image.url) %></P>
        <br><br>
        <div id="map" style="width: 300px; height: 200px;">
          <script>
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers(<%= raw @map.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
          </script>
        </div>
      </td>

      <td>
        <p><%= form.label :spotname, 'Spot :', class: "text" %></P>
        <p><%= form.label :prefecture, 'Area :', class: "text" %></P>
        <p><%= form.label :address, 'Address :', class: "text" %></P>
        <p><%= form.label :url, 'Map URL :', class: "text" %></P>
        <p><%= form.label :date, 'Date :', class: "text" %></P>
        <P><%= form.label :tag, 'Tag :', class: "text" %></P>
        <p><%= form.label :content, 'content :', class: "text_content" %></P>
      </td>

      <td>
        <p class="text2"><%= @post.spotname %></P>
        <p class="text2"><%= @post.prefecture %></P>
        <p class="text2"><%= @post.address %></P>
        <p class="text2"><%= @post.url %></P>
        <p class="text2"><%= @post.date %></P>
        <P class="tag_field">
          <% @post.tags.each do |tag| %>
            <span class="badge badge-dark"><%= tag.title %></span>
          <% end %>
        </P>
        <p class="content_field2"><%= @post.content %></P>
      </td>

    </tr>
  </table>
</div>
<% end %>
