<div class="sub-title">
  <p class="second_title2"><%= link_to @post.user.name, user_path(@post.user_id) %>'s Post</p>
</div>

<br><br><br><br><br>
<%= form_with(model:@post, url: posts_path, local:true) do |form| %>
<div class="row">
  <table>
    <tr>
      <td class="box_image">
        <p>
          <% if @post.user_id == current_user.id %>
            <span><%= link_to image_tag('edit.png', size: '35x35'), edit_post_path(@post.id), class: "edit" %></span>
            <span><%= link_to image_tag('delete.png', size: '35x35'), post_path(@post.id), method: :delete ,data: { confirm: '本当に削除しますか？' }, class: "delete" %></span>
          <% else %>
          <% end %>

          <% unless @post.user_id == current_user.id %>
            <% if @favorite.present? %>
              <span><%= link_to image_tag('clip_on.png', size: '35x35'), favorite_path(id: @post.id), method: :delete, class: "remove" %></span>
              <!-- <span><%#= link_to 'clip', favorite_path(id: @post.id), method: :delete, class: "remove" %></span> -->
            <% else %>
              <span><%= link_to image_tag('clip.png', size: '35x35'), favorites_path(post_id: @post.id), method: :post, class: "clip_on" %></span>
              <!-- <span><%#= link_to 'clip_off', favorites_path(post_id: @post.id), method: :post, class: "clip_on" %></span> -->
            <% end %>
          <% end %>
        </p>

        <p><%= image_tag(@post.image.url) %></p>
        <br>
      </td>

      <td>
        <p><%= form.label :spotname, 'スポット名 :', class: "text" %></p>
        <p><%= form.label :prefecture, '都道府県 :', class: "text" %></p>
        <p><%= form.label :address, '市区町村 :', class: "text" %></p>
        <p><%= form.label :url, 'Map URL :', class: "text" %></p>
        <p><%= form.label :date, '日付 :', class: "text" %></p
        <P><%= form.label :tag, 'タグ :', class: "text" %></p>
        <p><%= form.label :content, 'メモ :', class: "text_content" %></p>
      </td>

      <td>
        <p class="text2"><%= @post.spotname %></p>
        <p class="text2"><%= @post.prefecture %></p>
        <p class="text2"><%= @post.address %></p>
        <p class="text_URL"><a><%= text_url_to_link(h(@post.url)).html_safe %></a></p>
        <p class="text2"><%= @post.date %></p>
        <P class="tag_field">
          <% @post.tags_posts.each do |tags_post| %>
            <span class="badge badge-dark"><%= tags_post.tag.title %></span>
          <% end %>
        </p>
        <p class="content_field2"><%= @post.content %></p>
      </td>
    </tr>
  </table>
  <table>
    <br>
    <div id="map" style="width: 950px; height: 500px;">
      <script>
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%= raw @map.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(15);
        });
      </script>
    </div>
  </table>
</div>
<% end %>
