<p class="second_title">Edit User Record</p>

<%= form_with(model: [:admin, @user], local: true) do |f| %>

<div class="container-fluid"><font size="2">
  <div class="top">
    <div class="row">
      <table>
        <tr>
          <td class="box_image">
            <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
          </td>
          <td class="box_text">
            <p>
              <span><%= f.label :name, 'User Name :', class: "text" %></span>
              <span><%= f.text_field :name, class: "text_field" %></span>
            </p>
            <p>
              <span><%= f.label :email, 'Email :', class: "text" %></span>
              <span><%= f.text_field :email, class: "text_field" %></span>
            </p>
            <p>
              <span><%= f.label :password, 'Password :', class: "text" %></span>
              <span><%= f.text_field :password, class: "text_field" %></span>
            </p>
            <p>
              <span><%= f.label :admin, 'Admin :', class: "text" %></span>
              <span><%= f.check_box :admin, class: "text_field" %></span>
           </p>
         </td>
       </tr>
      </table>
    </div>
    <div class="row">
      <span class="col-xs-4"></span>
      <span class="col-xs-1"><%= f.submit "Record", class: "btn" %> </span>
      <span class="col-xs-2"></span>
      <span class="col-xs-1"><%= link_to 'Back', admin_users_path(@user), class: "menu" %></span>
      <span class="col-xs-4"></span>
    </div>
  </div>
</div>
<% end %>
