<div class="sub-title">
  <p class="second_title2">ユーザー一覧</p>
</div>

<div class="container-fluid">
  <div class="top">
    <div class="row">
      <table>
        <tr>
          <th class="box_1">ID</th>
          <th class="box_2"></th>
          <th class="box_3">ユーザー名</th>
          <th class="box_2">管理権限</th>
          <th class="box_1"></th>
          <th class="box_1"></th>
        </tr>

      <% @users.each do |user| %>
        <tr>
          <td class="box_1"><%= user.id %></td>
          <td class="box_2"><%= link_to image_tag(user.image.url, size: '50x50'), user_path(user) if user.image && user.image.url %></td>
          <td class="box_3"><%= user.name %></td>
          <td class="box_2">
            <%= form_with(model: [:admin, user], local: true) do |f| %>
              <% if user.admin == true %>
              <%= f.hidden_field :admin %><font size="5">✔</font>
              <% end %>
            <% end %>
          </td>
          <% if current_user.email == "admin_guest@exapmle.com" %>
          <% else %>
            <td class="box_1"><%= link_to image_tag('edit.png', size: '25x25'), edit_admin_user_path(user), class: "edit" %></td>
            <td class="box_1"><%= link_to image_tag('delete.png', size: '25x25'), admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "delete" %></td>
          <% end %>
        </tr>
      <% end %>
      </table>

    </div>
  </div>
</div>

  <div class="row">
    <span class="col-xs-4"></span>
    <span class="col-xs-1"><%= link_to '新規作成', new_admin_user_path, class: "menu" %></span>
    <span class="col-xs-2"></span>
    <span class="col-xs-1"><%= link_to '戻る', posts_path, class: "menu" %></span>
    <span class="col-xs-4"></span>
  </div>
