<h4>Users</h4>

<br>
<table>
  <tr>
    <th><%= t('user.id') %></th>
    <th></th>
    <th><%= t('user.name') %></th>
    <th><%= t('user.admin') %></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= link_to image_tag(user.image.url, size: '30x30'), admin_user_path(user) if user.image && user.image.url %><td>
    <td><%= user.name %></td>
    <%= form_with(model: [:admin, user], local: true) do |f| %>
      <td><%= f.hidden_field :admin %></td>
      <td><%= f.check_box :admin %></td>
    <% end %>
    <td>
      <a><%= link_to image_tag('edit', size: '25x25'), edit_admin_user_path(user) %></a>
      <a><%= link_to image_tag('delete', size: '25x25'), admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %></a>
    </td>
  </tr>
<% end %>
</table>
<br>
<br>
<button><%= link_to '新規ユーザー作成', new_admin_user_path %></button>
