<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h4 class="sub-title">Create Users</h4>

<div class="container-fluid"><font size="2">
  <div class="top">
  <br><br>

<%= form_with(model: [:admin, @user], local: true) do |f| %>
  <a><%= f.text_field :name, :placeholder => "User name", class: "text_field" %></a>
  <a><%= f.email_field :email, :placeholder => "E-mail", class: "text_field" %></a>
  <a><%= f.password_field :password, :placeholder => "Password", class: "text_field" %></a>
  <a><%= f.password_field :password_confirmation, :placeholder => "Password again", class: "text_field" %></a>
  <br><br><br>

  <p><%= f.label :admin %> <%= f.check_box :admin %></p>
  <br>
  <div class="row">
    <span class="col-xs-5"></span>
    <span class="col-xs-1"><%= f.submit "Create", class: "menu" %></span>
    <span class="col-xs-1"><%= link_to 'Back', admin_users_path(current_user.id), class: "menu" %></span>
    <span class="col-xs-5"></span>
  </div>
<% end %>

  </div>
</div>
